fastapi
uvicorn[standard]
python-multipart

# Frontend
streamlit

python-dotenv

# API
google-genai

# RAG
langchain
langchain-community
langchain-text-splitters

# Vector DB
chromadb

# Embeddings
sentence-transformers

# PDF Processing
pymupdf

# Database
sqlalchemy

# Data Processing
pandas
numpy

# Visualization
plotly

tqdm
requests
pydantic-settings